<?xml version="1.0" encoding="UTF-8"?>
<configuracion>
    <conf>
        <key>tempus</key>
        <host>Q0hRZ2lNN3VGc0ZhY29yOVlKT3poUT09OjrK+vkGtCTocWvcplomDv/e</host>
        <base>N1BCcndTa0EyQ1FobmpDS256M2syUT09OjpvTJqCBLUd00w/RPDfedDs</base>
        <user>cHRIemd5UWFSSmVwZURzZ0RNMnFHQT09OjpOPYi2sd4DTDfCSqLQPs1c</user>
        <pass>REJoSk9FdW5OR00rdW93OVl3UTlxQT09OjoQa9Qt1oy5iDouuK5ZVp+t</pass>
    </conf>
</configuracion>