page-cursada {

	.toolbar .toolbar-background {
		background-color: #7fb2c3;
		border-bottom: 3px solid black;
	}
	.content {
		background-color: #e2e2e2;
		font-family: "Century Gothic", Century, "Calibri Light", Arial;
	}
	
	.list .item {
		background-color: #e2e2e2;
		margin-top: 3%;
		margin-button: 3%;
	}
	
	div .item {
		background-color: #e2e2e2;
		margin-top: 3%;
		margin-button: 3%;
	}
	
	.list .item .button {
		height: 30px;
		color: black;
		background-color: #7fb2c3;
		border: 2px solid;
		border-color: #4e8fa5;
		margin-top: 5%;
		margin-button: 5%;
		border-radius: 5px;
	}
	
	.list .item .button:hover {
		color: white;
		background-color: #33CC00;
		border: 2px solid;
		border-color: #009900;
	}

}

