page-notificacion {

	.toolbar .toolbar-background {
		background-color: #7fb2c3;
		border-bottom: 3px solid black;
	}
	
	.content {
		background-color: #e2e2e2;
		font-family: "Century Gothic", Century, "Calibri Light", Arial;
	}
}
