@charset "ISO-8859-1";


/**
	Este archivo contiene los estilos que se utilizan en el sitio.
		
*/
	body {
	    margin: 0;
	    padding: 0;
	    font-family: "Century Gothic", Century, "Calibri Light", Arial;;
	    color: #666;
	    background: #e2e2e2; 
	    font-size: 12px;
	    line-height: 1.5em;
	    padding-top: 65px;
	}

/**** #MAIN-HEADER ****/
	
	#main-header {
	    background: #7fb2c3;
	    color: white;
	    height: 60px;
	    border-bottom: 5px solid black;
	    width: 100%;
	    left: 0;
	    top: 0;
	    position: fixed;
	    z-index: 10;
	}   
	
	#main-header a {
	    color: black;
	}
	
	#main-header div {
	    width: 100%;
	    max-width: 800px;
	    margin: 0px auto;
	}
	
	#main-header table {
	    border-top: 5px solid #c7db09; 
	    border: 1px solid #c7db09; 
	    background-color: #fff;
	    padding: 5px; 
	    color: #4f4f4f;
	}
	
	#main-header table a {
	    color: #4f4f4f;
	}
	
	#main-header table a:hover {
	    color: #F7CE3E;
	}
	
	
	#logo-header {
	    float: left;
	    padding: 10px 0 0 20px;
	    text-decoration: none;
	}
	#logo-header:hover {
	    color: #F7CE3E;
	}
	
	#logo-header .site-name {
	    display: block;
	    font-weight: 700;
	    font-size: 1.7em;
	}
	
	#logo-header .site-desc {
	    display: block;
	    font-weight: 300;
	    font-size: 0.8em;
	    color: #999;
	}
	
	.ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        
        width: 100%;
        top: 65px;
    }
    
    li {
        float: left;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 13px;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #7fb2c3;
        color: black;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
	
/**** #MAIN-CONTENT *****/

	#main-content {
	    background: white;
		height: auto;
		max-width: 70%;
		margin: 0px auto 40px auto;
		overflow: visible;
		padding-bottom: 20px;
		text-align: center;
		width: auto;	
	}
	
	#main-content header, #main-content .content {
	    padding: 10px 5px 10px 5px;
	}

/**** #MAIN-FOOTER ****/

	#main-footer {
	    background: #7fb2c3;
	    color: black;
	    text-align: center;
	    padding: 20px;
	    margin-top: 40px;
	    bottom: 0;
	    position: fixed;
	    width: 100%;
	    border-top: 5px solid black;
	    z-index: 10;
	}
	
	#main-footer p {
	    margin: 0;
	}
	
	#main-footer a {
	    color: black;
	}
	
	#main-footer a:hover {
	    color: #F7CE3E;
	}
	
	h1 {
	    font-size: 2.2em;
	    line-height: 1.3em;
	    margin: 15px 0;
	    text-align: center;
	    font-weight: 300;
	    color: black;
	}
	
	h2 {
		font-size: 1.5em;
		color: black;
	}
	
	h3 {
		font-size: 13px;
	    color: black;
	}
	
	h4 {
		font-size: 12px;
	    color: black;
	}
	
	h5 {
		font-size: 11px;
		color: black;
	}
	
	h6 {
		font-size: 10px;
		color: black;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	
	.letraVerde {
		color: #009900;
	}
	
	.letraNaranja {
		color: #fb7700;
	}
	
	.letraRoja {
		color: #CC0000;
	}
	
	.letraCentrada {
		text-align: center;
	}
	
	.perfil {
		float: left;
		border-radius: 50px;
		width: 30px;
		margin-left: 5px;
    	margin-right: 5px;
	}
	
	input, textarea, select, button {
    	font-size: 100%;
    	font-family: inherit;
	}
	
	form {
		color: black;
		font-family: "Century Gothic", Century, "Calibri Light", Arial;
		font-size: 12px;
		display: block;
		width: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	fieldset {
		border-style: solid;
		border-radius: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 10px 10px 10px 10px;
		text-align: left;
		width: auto;
		vertical-align: top;
	}
	
	fieldset:hover {
		border: 2px solid;
		border-color: #4e8fa5;
	}
	
	legend {
		color: black;
		font-weight: bold;
		font-size: 12px;
	}
	
	input[type='submit'], input[type='button'], button {
		background-color: #7fb2c3;
		border: 2px solid;
		border-color: #4e8fa5;
		border-radius: 5px;
		color: black;
		height: 30px !important;
		width: 150px !important;
		margin: 20px;
	}
	
	.content-columnas {
		float: right;
		width: auto;
		padding: 5px;
	}
	.columnas {
		font-weight: bold;
		padding: 5px;
	}
	
	.botonIcono {
		height: 25px !important;
		width: 25px !important;
		background-color: transparent;
		color: transparent;
		border-color: transparent;
		display: none;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	
	.botonRojo:hover {
		color: white;
		background-color: #CC0000;
		border: 2px solid;
		border-color: #990000;
	}
	
	.botonRojo:active {
		background-color: #009900;
		border-color: #006200;
	}
	
	.botonNaranja:hover {
		color: white;
		background-color: #fb7700;
		border: 2px solid;
		border-color: #d56500;
	}
	
	.botonRojo:active {
		background-color: #d56500;
		border-color: #a44e00;
	}
	
	.botonVerde:hover {
		color: white;
		background-color: #33CC00;
		border: 2px solid;
		border-color: #009900;
	}
	
	.botonVerde:active {
		background-color: #009900;
		border-color: #006200;
	}
	
	.rojo{
		color:#3a3a3a;
		background-color: #d56500;
		bgcolor:#ffa953;
		border-color: black;
	}
	
	input[type='text'], input[type='number'], select, input[type='date'] {
		border: 1px solid;
		border-color: #CCC;
		border-radius: 5px;
		display: inline-block;
		width: 245px;
		height: 26px;
		padding-left: 8px;
	}
	
	input[type='image'] {
		padding: 0px 0px 0px 0px;
    	width: 26px;
    	height: 26px;
    	margin: 0px 0px -7px 10px;
	}
	
	p.centrado{
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 350px;
		height: 50px;
	}
	
	label {
		display:inline-block;
		height: 26px;
		min-width: 170px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 10px;
	}
	
	.centrado {
		display:inline-block;
		height: 24px;
		min-width: 30%;
		max-width: auto;
		margin-left: 20%;
		margin-right: 12px;
		margin-top: 15px;
	}
	
	input[type='text']:hover, input[type='number']:hover, select:hover {
		border: 2px solid;
	  	border-color: #7fb2c3;
	}
	
	input[type='text']:disabled, input[type='number']:disabled, select:disabled {
	  	background: #dddddd;
	}
	
	table {
		font-size: 12px;
	}
	
	td input[type='checkbox'] {
  		margin-left: 30px;
	}

	td input[type='text'] {
	    width: 240px;
	    margin: 5px;
	}
	
	td select {
	    width: 100px;
	    margin: 5px;
	}
	
	table.tablacursada td input[type='text'] {
		width: 145px;
	    margin: 5px;
	}
	
	table.tablacursada td select {
		width: 145px;
	    margin: 5px;
	}
	