<ion-header>
  <ion-navbar>
    <ion-title>Horarios de Cursada</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="content">
	<div>
		<form [formGroup]="form" (ngSubmit)="consultarCursadas()"> 
			<ion-list no-lines>
			
				<ion-item>
					<ion-label>* Carrera:</ion-label>
					<ion-select formControlName="carrera" [(ngModel)]="cursadaCarrera">
						<ion-option  *ngFor="let item of carreras" value="{{item.nombre}}" required>{{item.nombre}}</ion-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label stacked>Nombre de asignatura</ion-label>
					<ion-input type="text" formControlName="asignatura" [(ngModel)]="cursadaAsignatura"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label>Año</ion-label>
					<ion-select formControlName="anio" [(ngModel)]="cursadaAnio">
					  <ion-option value="1" selected>1° Año</ion-option>
					  <ion-option value="2">2° Año</ion-option>
					  <ion-option value="3">3° Año</ion-option>
					  <ion-option value="4">4° Año</ion-option>
					  <ion-option value="5">5° Año</ion-option>
					</ion-select>
				</ion-item>
				
				<ion-item>
					<button ion-button full>Buscar</button>
				</ion-item>
			</ion-list>
			
		</form> 		
	</div>
	<div>
		<ion-item *ngFor="let item of asignaturas">
             <ion-item *ngFor="let item of cursadas">
            <ion-label>{{ item.nombreAsi }}</ion-label>	          
		     <ion-label *ngIf="item.dia == 1">Lunes</ion-label>
			<ion-label *ngIf="item.dia == 2">Martes</ion-label>
			<ion-label *ngIf="item.dia == 3">Miercoles</ion-label>
			<ion-label *ngIf="item.dia == 4">Jueves</ion-label>
			<ion-label *ngIf="item.dia == 5">Viernes</ion-label>
			<ion-label *ngIf="item.dia == 6">Sabado</ion-label>
			<ion-label>{{ item.desde }} {{ item.hasta }} {{ item.sector }} {{ item.nombre }}</ion-label>
            </ion-item>
            </ion-item>
		
	</div>
	
</ion-content>

